.team{
      img
      {  width:200px;
        height: 200px;
        border-radius: 50%;
        border:solid 3px #439FDE;
      }
      p{
        font-size: 15px;
      }
      .carousel-indicators li {

        width: 10px;
        height: 10px;
       border: 1px solid #439FDE;
        border-radius: 10px;
      }

      .carousel-indicators .active {
        width: 12px;
        height: 12px;
        margin: 0;
        background-color: #439FDE;
      }
    .carousel-control-prev-icon,
    .carousel-control-next-icon {
    height: 100px;
    width: 100px;
    background-size: 100%, 100%;
    border-radius: 50%;
    box-shadow: 0 8px 16px 0 #439FDE, 0 6px 20px 0 #439FDE;
    background-color: white;
    }
    .carousel-control-next-icon:after
    {
    content: '>';
    font-size: 55px;
    color: #439FDE;
    }

    .carousel-control-prev-icon:after {
    content: '<';
    font-size: 55px;
    color: #439FDE;
    }
  }
