.welcome{

    .final2{
      background-color: #FFCD00;
      width:200px;
    font-weight: 700;
      color:#1D5875;
      border-radius: 0%;


    }
    .final2:hover{
      color:white;
      background-color: #439FDE;
      width:200px;

      color:white;
      border-radius: 0%;
    }


  img{
    height: 500px;
  }

    .righta{
      background-color: rgba(255, 255, 255, .5);
      padding-top: 130px;
      box-shadow: 0 8px 16px 0 #439FDE, 0 6px 20px 0 #439FDE;

    }
    .lefta{
      background-color: rgba(255, 255, 255, .5);
        padding-top: 130px;
        box-shadow: 0 8px 16px 0 #439FDE, 0 6px 20px 0 #439FDE;


    }


  }
